@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: linear-gradient(to right, rgb(197, 91, 91),rgb(177, 132, 48),rgb(155, 155, 68));
}
*:hover {
    border:1px solid red;
}

#search-title {
    font-size: 4rem;
    text-align: center;
    display:flex;
    justify-content: center;
    padding-top:1rem;
    padding-bottom:1rem;    
}

#search-icon {
    width:3.5rem;
    height:2rem;
    background:none;
}

#search-bar {
    width:50%;
    height:3.5rem;
    border:1px solid;
    border-radius: 1.2rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-width: 2px;
    background-color: rgb(187, 148, 148);
}

#search::placeholder {
    color: rgb(69, 99, 79);
}

header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#search {
    cursor:pointer;
    width:90%;
    border:none;
    font-size:1.2rem;
    outline:none;
    background-color: rgb(187, 148, 148);
}

#weather-container {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows:repeat(1,25rem);
    justify-content: space-evenly;
    text-align: center;
    padding-top:1rem;
}

.weather-container-item {
    background:linear-gradient(rgba(202, 138, 138, 0.5), rgba(145, 92, 92, 0.5), rgba(168, 108, 108, 0.5));
    border-radius: 2rem;
    cursor:pointer;
}

.weather-container-item:hover {
    border: 5px solid;
    animation: border-changer 3s infinite;
}

@keyframes border-changer {
    0% {
        border-color: #ec7575;
    }
    50% {
        border-color: #c47bae;
    }
    100% {
        border-color: #d1778d;
    }
}

img {
    width:15rem;
    height:15rem;
}

.weather-day {
    font-size:3rem;
    padding-bottom:1rem;
}

.all-three-temperatures {
    font-size:2rem;
}

section, header {
    margin-bottom:1rem;
}

#intervals-container { 
    display:grid;
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: repeat(1, 90%);
    justify-content: center;
    align-items: center;
    text-align:center;
}

.intervals-item {
    border:1px solid;
}


#style-weather {
    display:flex;
    flex-direction: column;
    border-radius:1rem;
    background: linear-gradient(rgba(211, 145, 145, 0.5),rgba(212, 150, 150, 0.5), rgba(170, 132, 132, 0.5));
    height:28rem;
    width:80%;

}

#weather-section {
    display:flex;
    justify-content: center;
}